{% for article in articles %}
<article class="article-box bg-gray-700">
    <h4 class="article-head p-4"><a href="{{ path('article', {'slug': article.slug}) }}">{{ article.name }}</a></h4>
    <p class="article-body p-4">
        {{ article.description }}
    </p>
    <p class="article-foot p-4">
        <small><i class="fa fa-clock"></i> {{ article.createdOn|date }}</small> - <span><i class="fa fa-tag"></i> {{ article.tag }}</span>
    </p>
</article>
{% endfor %}