{% extends 'includes/base.html.twig' %}

{% block title %}{{ page_name }} {{ parent() }}{% endblock %}

{% block body %}
    {% include 'includes/menu.html.twig' %}
    {% include 'includes/head.html.twig' %}
    <main class="flex bg-gray-800">
        <section class="w-2/3 m-10">
            {{ include('blog/includes/articles.html.twig') }}
        </section>
        {{ include('blog/includes/aside.html.twig') }}
    </main>
    {{ include('includes/footer.html.twig') }}
{% endblock %}